html,body{
    height: 100%;
}

header{
    background-color: #fff;
    height: 10%;
}

footer{
    background-color: #eee;
    height: 10%;
}

main{
    background-color: #ddd;
    height: 80%;
    font-size: 0;
}

aside{
    font-size: 14px;
    display: inline-block;
    background-color: blueviolet;
    width: 30%;
    vertical-align: top;
    height: 100%
}

.content{
    font-size: 14px;
    display: inline-block;
    background-color: palegoldenrod;
    width: 70%;
    vertical-align: top;
    height: 100%
}